.env
.env.local
.env.*.local

# Supabase local volumes (created by `supabase start`)
supabase/.branches
supabase/.temp

node_modules/
.DS_Store

# Next.js build output and deps
nextapp/.next/
nextapp/node_modules/
